S3method(addExperiments,ExperimentRegistry)
S3method(applyJobFunction,ExperimentRegistry)
S3method(copyRequiredJobFiles,ExperimentRegistry)
S3method(dbCreateJobDefTable,ExperimentRegistry)
S3method(dbGetJobs,ExperimentRegistry)
S3method(getJobInfo,ExperimentRegistry)
S3method(getJobs,ExperimentRegistry)
S3method(print,Algorithm)
S3method(print,Design)
S3method(print,ExperimentJob)
S3method(print,ExperimentRegistry)
S3method(print,Problem)
S3method(setJobFunction,ExperimentRegistry)
S3method(updateRegistry,ExperimentRegistry)
export(addAlgorithm)
export(addExperiments)
export(addProblem)
export(findExperiments)
export(generateProblemInstance)
export(getAlgorithm)
export(getAlgorithmIds)
export(getIndex)
export(getProblem)
export(getProblemIds)
export(getResultVars)
export(makeDesign)
export(makeExperimentRegistry)
export(reduceResultsExperiments)
export(reduceResultsExperimentsParallel)
export(removeAlgorithm)
export(removeExperiments)
export(removeProblem)
export(summarizeExperiments)
import(BBmisc)
import(BatchJobs)
import(DBI)
import(RSQLite)
import(plyr)
